.deps/*
autom4te.cache/*
config.log
config.status
*.o
teste
Makefile
AUTHORS
COPYING
ChangeLog
INSTALL
Makefile.in
NEWS
README
aclocal.m4
compile
configure
depcomp
install-sh
missing
teste-0.1.tar.bz2
teste-0.1.tar.gz

